---
// src/layouts/BaseLayout.astro
import '../styles/global.css';
import Navbar from '../components/navigation/Navbar.astro';
import Footer from '../components/navigation/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = "Estratega tecnológico. Optimización y automatización de procesos para empresas emergentes." 
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Gino Cotos</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-screen flex flex-col">
    
    <Navbar />
    
    <main class="flex-grow">
      <slot />
    </main>

    <Footer />
    
  </body>
</html>